<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mon Espace</title>
    <link rel="stylesheet" href="{{ url_for('.static', filename='./styles/employee.css') }}">
    <script src="{{ url_for('.static', filename='./scripts/employee.js') }}" defer></script>
    <script src="{{ url_for('.static', filename='./scripts/app.js') }}" defer></script>
</head>
<body>

<div class="header-bar">
    <img id="logo" src="{{ url_for('.static', filename='./images/logo/logo.svg') }}" alt="Logo">
    <h2 class="monEspace">({{ g.user[1] }}) Mon Espace</h2>
    <button type="button" id="sortie"><img src="{{ url_for('.static', filename='./images/icons/sortie.svg') }}"
                                           alt="déconnexion"></button>
</div>


<div id="actionsRapides">
    <img src="{{ url_for('.static', filename='./images/icons/lightning.svg') }}" alt="lightning" class="iconText">
    Actions rapides
</div>

<div id="questionnaireRempli" class="container">
    <img id="questionnaireRempliIMG" class="box" src="{{ url_for('.static', filename='./images/icons/ui-checks.svg') }}"
         alt="ui-checks">
    <h3 id="questionnaireRempliP" class="box">Voir les questionnaires remplis</h3>
</div>

<div id="nouveauxQuestionnaires">
    <img src="{{ url_for('.static', filename='./images/icons/input.svg') }}" alt="input-cursor-icon" class="iconText">
    Nouveaux questionnaires
</div>

<div class="card-list">

    {% for form in non_completed_forms %}
        <div class="card">
            <div id="q_border_green"></div>
            <div id="q_content">
                <div>
                    <p id="q_title"> {{ form["nom"] }} </p>
                    <p id="q_subtitle"> {{ form["description"] }} </p>
                </div>
                <div class="q_infos">
                    <div class="text">
                        <img src="{{ url_for('.static', filename='./images/icons/ui-checks-grid.svg') }}"
                             alt="check-grid" class="iconTextSmall">
                        <p class="questions"> {{ form["questions"]|length }} Questions</p>
                    </div>
                    <div class="text">
                        <img src="{{ url_for('.static', filename='./images/icons/stopwatch.svg') }}" alt="stopwatch"
                             class="iconTextSmall">
                        <p class="minutes">{{ form["questions"]|length*5 }} minutes</p>
                    </div>
                </div>
                <div class="boutonChiant">
                    <button class="remplir" type="button" onclick="remplir( {{ form["id"] }} )">Remplir</button>
                </div>
            </div>
        </div>
    {% endfor %}

</div>

</body>
</html>