@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;500;700&display=swap');

:root {
    --main-bg-color: #030F00
}

.iconText {
    margin-right: 10px;
    width: 1.5%;
}

.iconTextSmall {
    display: flex;
    align-content: center;
    width: 6%;
}

.Title {
    display: flex;
    justify-content: center;
    justify-self: center;
}

.monEspace {
    color: #FEFEFE;
    font-size: 95%;
}

.monEspace#subTitle {
    font-weight: 300;
    font-size: 95%;
}

body {
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 0.5%;
    background-color: var(--main-bg-color);
    font-family: 'Outfit', sans-serif !important;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#logo {
    /*margin-right: auto;*/
}

#sortie {
    background-color: transparent;
    border: none;
    /*margin-left: auto;*/
}

.monEspace {
    flex-grow: 1;
    text-align: center;
    color: #FEFEFE;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
    gap: 2%;
}

.card {
    width: 20%;
    position: relative;
    padding: 10px;
    /*border-top: 3px solid #00730B;*/
    background-color: #0C0E0C;
    border-radius: 10px;
}

#q_border_green {
    width: 100%;
    height: 3%;
    background: linear-gradient(90.52deg, #009B0F -5.89%, #00730B 111.23%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    box-sizing: border-box;
    z-index: 1;
}

#q_content {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    box-sizing: border-box;
}

#q_title {
    color: #FEFEFE;
    font-size: 80%;
    margin-bottom: 0;
    margin-top: 0;
}

#q_subtitle {
    margin-top: 0;
    color: #FEFEFE;
    font-weight: 200;
    font-size: 70%;
}

.text {
    display: flex;
    gap: 10px;
    color: #FEFEFE;
    font-size: 70%;
    font-weight: 200;
    align-items: center;
}

.q_infos {
    margin-left: 5% !important;
}

.iconTextSmall {
    height: 1rem;
}

.questions {
    margin: 0;
}

.minutes {
    margin: 0;
}

#questionnaires_remplis {
    display: flex;
    margin-top: 5%;
    font-weight: 500;
    color: #FEFEFE;
    font-size: 80%;
}

#sortie {
    transition: color 0.2s;
}

#sortie:hover {
    cursor: pointer;
    color: #009B0F;
}

.card {
    box-shadow: 0 0 50px rgba(0, 255, 0, 0.2);
    margin: 10px;
    padding: 10px;
    z-index: 1;
    transition: box-shadow 0.5s;
}

.card:hover {
    box-shadow: 0 0 50px rgba(0, 255, 0, 0.25);
    z-index: 2;
}

@media screen and (max-width: 1000px) {
    body, input::placeholder {
        font-size: 0.9em !important;
    }
}